$black: rgb(0,0,0);
$white: rgb(255, 255, 255);
$button-shape: (4px, 12px, 4px, 12px);
$button-border: 4px;

.title, .genre, .director, .actors, .movie-description{
  color:$black;
}

.back-button {
    padding: $button-shape;
    color: $white;
    border: none;
    border-radius: $button-border;
  }