$black: rgb(0,0,0);
$white: rgb(255, 255, 255);
$button-shape: (4px, 12px, 4px, 12px);
$button-border: 4px;
$padding-10: 10px;
$margin-10: 10px;
$min-width: 800px;
$max-width: 1500px;

.submit-button {
    padding: $button-shape;
    color: $white;
    border: none;
    border-radius: $button-border ;
  }

.logBox {
  padding:$padding-10;
  margin:$margin-10 ;
  min-width: $min-width;
  max-width: $max-width;
}

.username, .password{
  color: $black;
}